*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0; }

::selection {
  background: #71ADB5; }

body {
  font-family: 'Titillium Web', sans-serif;
  color: #58585a;
  text-transform: lowercase; }

a:link {
  color: #61748C;
  font-weight: bold;
  text-decoration: none;
  transition: 80ms; }

a:visited {
  color: #61748C; }

a:hover, a:focus, a:active {
  background-color: #E3E0D1;
  color: #800000;
  text-decoration: underline; }

.main-container {
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.home-container {
  max-width: 750px; }
  .home-container .section-title {
    font-size: 21px;
    font-weight: 800;
    position: relative; }
  .home-container .home-intro {
    margin-top: 65px; }
    .home-container .home-intro p {
      text-transform: none; }
    .home-container .home-intro .social a {
      display: inline-block;
      margin: 5px;
      text-decoration: none;
      padding: 0px; }
      .home-container .home-intro .social a i {
        font-size: 16px; }
      .home-container .home-intro .social a:hover {
        text-decoration: none; }
  .home-container .home-work {
    margin-top: 30px;
    padding-top: 30px; }
    .home-container .home-work .work-pair {
      display: flex;
      flex-flow: row;
      margin-left: -20px;
      margin-right: -20px; }
      .home-container .home-work .work-pair a {
        color: inherit;
        flex: 1;
        margin: 5px 5px 25px;
        padding: 15px;
        position: relative;
        text-decoration: none; }
        .home-container .home-work .work-pair a .work-img {
          background: rgba(143, 172, 192, 0.2);
          border-radius: 2px;
          height: 170px;
          margin-bottom: 15px;
          overflow: hidden;
          position: relative;
          width: 100%; }
          .home-container .home-work .work-pair a .work-img .icon {
            background-size: cover;
            background-repeat: no-repeat;
            height: 55px;
            left: 50%;
            position: absolute;
            top: 50%;
            width: 55px;
            transform: translateX(-50%) translateY(-50%); }
          .home-container .home-work .work-pair a .work-img img {
            height: 100%;
            width: 100%;
            object-fit: cover; }
        .home-container .home-work .work-pair a h2 {
          font-size: 20px;
          font-weight: 600;
          margin-left: 5px;
          text-transform: none; }
        .home-container .home-work .work-pair a h3 {
          color: rgba(58, 71, 80, 0.6);
          font-size: 15px;
          margin-left: 5px; }
        .home-container .home-work .work-pair a h4 {
          color: rgba(58, 71, 80, 0.6);
          font-size: 14px;
          margin-left: 5px; }
        .home-container .home-work .work-pair a:hover .icon {
          transform: translateX(-50%) translateY(-65%) rotate(-10deg); }

.page-container {
  color: #3A4750;
  line-height: 1.7;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 700px; }
  .page-container .page-header {
    border-bottom: 1px solid rgba(58, 71, 80, 0.2);
    padding: 5px; }
  .page-container .page-content .page-title h2 {
    color: rgba(58, 71, 80, 0.6);
    font-size: 20px;
    font-weight: 400; }
  .page-container .page-content .page-title p {
    text-transform: none; }
  .page-container .page-content .page-img {
    margin-left: auto;
    margin-right: auto;
    text-align: right; }
    .page-container .page-content .page-img img {
      box-shadow: 0 5px 20px rgba(58, 71, 80, 0.2);
      border-radius: 3px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      max-height: 400px; }
    .page-container .page-content .page-img label {
      color: rgba(58, 71, 80, 0.8);
      font-size: 13px;
      font-weight: 200;
      margin: 10px auto; }
  .page-container .page-content .page-text {
    text-transform: none; }

.innod-icon {
  background-image: url(../img/icons/innod.png);
  transition: 350ms; }

.utokyo-icon {
  background-image: url(../img/icons/utokyo.png);
  transition: 350ms; }

.margin-top--md {
  margin-top: 24px; }

.margin-bottom--md {
  margin-top: 24px; }

.margin-bottom--xl {
  margin-bottom: 40px; }

.margin-bottom--lg {
  margin-bottom: 32px; }

.margin-top--xxl {
  margin-top: 54px; }

.margin-bottom--xxl {
  margin-bottom: 54px; }
