#container {
    font-family: Roboto;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    overflow-x: hidden;
}

video#bg-vid {
    position: absolute;
    top: -130px;
    left: 0;
    min-width: 100%;
    min-height: 140%;
    overflow: hidden;
    z-index: -2;
}

#overlay {
    opacity: 1;
    background: linear-gradient(rgba(0,0,0,0.4), black);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

#logo {
    margin-top: 10px;
    margin-left: 10px;
    width: 140px;
    opacity: 0.4;
    transition: 0.3s;
}

#logo:hover {
    opacity: 1;
}

#main {
    margin-top: 180px;
    position: relative;
}

#header {
    font-weight: 100;
    font-size: 80px;
    text-align: center;
}

#navigation {
    float: right;
    margin: 30px;
    letter-spacing: 5px;
}

#navigation .button {
    margin-left: 10px;
}

.button {
    background: rgba(0, 0, 0, 0);
    color: rgba(150, 150, 150, 1);
    border: none;
    text-decoration: none;
    transition: 0.3s;
}

.button:hover {
    color: white;
}

#loginbox input[type="text"] {
    visibility: hidden;
}

#arrow button {
    position: absolute;
    background-color: transparent;
    border-style: none;
    top: 92%;
    left: 48%;
}

#bottom {
    position: absolute;
    background-color: white;
    text-align: center;
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 15px;
    color: gray;
    padding-top: 50px;
    top: 100%;
    width: 100%;
    height: 110px;
    z-index: 2;
}

#events {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 120%;
}

.event img {
    position: relative;
    display: block;
    opacity: 0.8;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*margin: 10px 10px;*/
}

.event:hover img {
    opacity: 1;
    transition: 0.3s;
}
