.homepage-box {
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
}

.cover-container {
  background-color: $gray-dark;
  height: 470px;
  padding: 5px;
  position: relative;
  -webkit-user-select: none;

  .title-container {
    top: 80px;
    padding-left: 80px;
    position: absolute;

    .name {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .tagline {
      font-size: $f-size-xxl;
      font-weight: 300;
      margin-bottom: 50px;
    }

    .description {
      font-size: $f-size-lg;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 40px;
      max-width: 500px;
    }

    a {
      display: inline-block;
      line-height: 1.3;

      &:hover {
        border-bottom-color: $gray-light;
      }
    }
  }

  .nav-container {
    right: 80px;
    position: absolute;
    top: 85px;
  }

  .nav-item {
    display: inline-block;
    font-size: $f-size-lg;
    margin: 0 7px;

    .link {
      border: 2px solid transparent;
      font-weight: 600;
      @include transition(200ms);

      &:hover {
        border-bottom-color: $white-20;
      }

      &.active {
        border-bottom-color: $white-60;
      }
    }
  }
}

.about-link {
  margin-bottom: 20px;
}

.social-container {
  .social-title {
    color: $white-80;
    font-size: $f-size-lg;
    margin-bottom: 15px;
  }

  .icon-container {
    a {
      text-decoration: none;
    }

    .icon {
      margin-right: 25px;
      opacity: 0.7;
      @include transition(100ms);

      img {
        height: 25px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.title-container {
  color: $gray-light;
}

.featured-project {
  background: url("../../images/home/gradescope-background.png");
  height: 300px;
  overflow: hidden;
  position: relative;

  .project-title {
    top: 50px;
    left: 60px;
    position: absolute;
  }

  .project-type {
    color: $white-80;
    font-size: $f-size-md;
    margin-bottom: 7px;
  }

  .project-name {
    font-size: $f-size-xxl;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .project-description {
    color: $white;
    line-height: 1.4;
    max-width: 370px;
  }

  .button {
    background: transparent;
    border: 1px solid $gray-light;
    color: $gray-light;
    font-size: $f-size-sm;
    margin-top: 20px;

    &:hover {
      background: $gray-light-20;
    }
  }

  .featured-photo {
    bottom: -5px;
    box-shadow: 1px 1px 20px $gray-dark-40;
    position: absolute;
    right: 80px;
    width: 420px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.project-col {
  float: left;
  width: 50%;

  &:nth-of-type(odd) {
    padding-right: 10px;
  }

  &:nth-of-type(even) {
    padding-left: 10px;
  }
}

.project {
  background-color: $blue-gray;
  cursor: pointer;
  height: 250px;
  overflow: hidden;
  padding: 0;
  position: relative;
  @include transition(250ms);

  .project-title {
    bottom: 0px;
    padding: 0 50px;
    position: absolute;
    z-index: 1;
    @include transition(250ms);
  }

  .project-type {
    color: $white-80;
    font-size: $f-size-md;
    margin-bottom: 7px;
  }

  .project-name {
    font-size: $f-size-xxl;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .project-description {
    color: $white-80;
    font-size: $f-size-md;
    line-height: 1.3;
    opacity: 0;
    visibility: hidden;
    @include transition(250ms);
  }

  .button {
    right: 50px;
    opacity: 0;
    position: absolute;
    top: 8px;
    visibility: hidden;
    @include transition(150ms);
  }
}

.project-image {
  height: 100%;
  @include transition(300ms);

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.hover-overlay {
  background-color: $gray-dark;
  height: 160px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  @include transition(300ms);
}

.contact-container {
  background-color: $gray-dark;
  padding: 50px;

  .social-container {
    float: right;
  }

  .icon-container .icon img {
    height: 20px;
  }
}

.contact-title {
  color: $gray-light;
  display: inline-block;
  font-size: $f-size-xl;
  font-weight: 400;
}

// desktop styles
@media (min-width: 970px) {
  .project:hover {
    .project-title {
      @include transform(translateY(-30px));
    }

    .project-image {
      @include transform(translateY(-100px));
    }

    .hover-overlay {
      @include transform(translateY(-160px));
    }

    .project-description {
      opacity: 1;
      visibility: visible;
    }

    .button {
      opacity: 1;
      visibility: visible;
    }
  }
}

// mobile stypes
@media (max-width: 970px) {
  .cover-container {
    margin-bottom: 10px;
    padding: 0;

    .title-container {
      padding: 30px;
      padding-top: 15px;
      top: 50px;
      width: 100%;
    }
  }

  .featured-project {
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 0;

    .title-container {
      left: 0;
      position: relative;
      top: 0;
    }

    .project-description {
      max-width: 600px;
    }

    .featured-photo {
      margin: 0 auto;
      margin-top: 40px;
      position: relative;
      right: 0;
      width: 90%;
    }
  }

  .project-col {

    &:nth-of-type(odd) {
      padding-right: 5px;
    }

    &:nth-of-type(even) {
      padding-left: 5px;
    }
  }

  .project {
    height: 200px;
    margin-bottom: 10px;

    .project-title {
      bottom: 10px;
      padding-left: 25px;
    }

    .project-description {
      display: none;
    }

    .button {
      display: none;
    }
  }

  .contact-container {
    margin-bottom: 0px;
    padding: 40px 30px;
    text-align: center;

    .social-container {
      float: none;
    }

    .icon-container {
      display: inline-block;
    }
  }

  .contact-title {
    font-size: $f-size-lg;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .nav-container {
    display: none;
  }

  .title-container {
    .social-container {
      .icon-container .icon {
        margin-right: 15px;
      }
    }
  }

  .project-col {
    float: none;
    width: 100%;

    &:nth-of-type(odd) {
      padding-right: 0;
    }

    &:nth-of-type(even) {
      padding-left: 0;
    }
  }
}
