html {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Roboto';
	margin: 0px;
	height: 100%;
	width: 100%;
}

body a {
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}

#container {
	height: 100%;
	width: 100%;
}
/*--navigation--*/
#navigation {
  letter-spacing: 5px;
	background-color: rgba(76, 87, 101, 0.6);
	text-decoration: none;
	width: 100%;
	height: 60px;
}

#navigation .button {
	color: white;
  margin-left: 10px;
	font-size: 16px;
}

.button {
  border: none;
  transition: 0.3s;
}
.navbar-header {
	display: inline-block;
	height: 100%;
	margin-top: 20px;
	margin-left: 20px;
}
.name-nav {
	color: white;
	text-decoration: none;
}
.navbar {
	display: inline-block;
	height: 100%;
	float: right;
}
.navitems {
	margin-top: 20px;
	margin-right: 20px;
}
.navitem {
	display: inline-block;
}
.button {
	display: block;
	text-decoration: none;
}
/*--/navigation--*/
/*--home--*/
#home {
	height: calc(100% - 60px);
	width: 100%;
	overflow: hidden;
	/*background-image: url("../../images/sanfran.jpeg");*/
}

#homeback {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#name {
	position: relative;
	margin-top: 20px;
}
/*--/home--*/
/*--about--*/
.about {
	padding: 50px 0 15px 0;
	text-align: center;
}

#about-header{
	font-size: 36px;
  letter-spacing: 10px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
	padding: 10px 40px;
}

#about-body{
	/*text-align: left;*/
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2;
	padding-right: 150px;
  padding-left: 150px;
}
/*--!about--*/

/*--photography--*/
.photography {
	padding: 50px 0 15px 0;
	text-align: center;
}

#photography-header{
	font-size: 36px;
  letter-spacing: 10px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
	padding: 10px 40px;
	-webkit-transition: all 1s ease;
}

#photography-header:hover{
	-webkit-filter: blur(2px);
}
.japanphotos {
	padding: 10px 10px;
	width: 300px;
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.japanphotos:hover{
	-webkit-filter: blur(2px);
}

/*--/photography--*/

/*--footer--*/
.footer{
	margin-bottom: 0px;
  padding: 40px 30px;
  text-align: center;
	background-color: #e6e6e6;
}

.status {
	padding: 20px 20px;
}
.icon{
	height: 20px;
	padding: 20px 20px;
}

/*--/footer--*/

#worldmap{
	position: absolute;
  width: 85%;
  height: 95%;
  left: 180px;
}

.back-button {
	padding: 10px;
	text-decoration: none;
	transition: 100ms;
	color: rgba(58,71,80,0.6);
}

/*--photography page--*/
.photography-banner {
	font-family: 'Poiret One';
	background: url(../../images/sanfran.jpeg) no-repeat fixed center;
	background-size: 100% 100%;
	height: 500px;
}

.photography-title {
	font-size: 50px;
	padding: 18px;
}

.photo-greeting {
	text-align: center;
	padding: 20px;
}

.photo-banner-line {
	background: black;
  width: 80%;
  margin: 0 auto;
  padding: 1px;
}

.back-button:hover {
	text-decoration: underline;
}

.photo-container {
	display: inline-block;
	text-align: center;
}

.subheader {
	padding: 20px 20px;
	font-size: 20px;
	font-family: "EB Garamond";
}

#sanfrancisco {
	width: 930px;
	padding: 10px;
	margin-left: auto;
}
