html {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Roboto';
	margin: 0px;
	height: 100%;
	width: 100%;
}

body a {
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}

#container {
	height: 100%;
	width: 100%;
}
/*--navigation--*/
#navigation {
  letter-spacing: 1px;
	width: 80%;
	color: black;
	position: absolute;
	margin-top: 30px;
	margin-left: 10%;
	background-color: white;
	z-index: 10;
	opacity: 0.6;
}

#navigation .button {
	color: black;
	text-decoration: none;
  margin-left: 20px;
	font-size: 16px;
	font-weight: 300;
}

.button {
  border: none;
  transition: 0.3s;
}

.navbar-header {
	display: inline-block;
	height: 100%;
	margin-top: 20px;
	margin-left: 20px;
}

.name-nav {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
.navbar {
	display: inline-block;
	height: 100%;
	float: right;
}
.navitems {
	margin-top: 20px;
	margin-right: 20px;
}
.navitem {
	display: inline-block;
}
.button {
	display: block;
	text-decoration: none;
}
/*--/navigation--*/

/*--langswitch--*/
#lang-switch-container {
	position: absolute;
	z-index: 10;
	width: 80px;
	height: 40px;
	background-color: white;
	right: 0;
	margin-top: 15px;
	margin-right: 15px;
	opacity: 0.6;
	text-align: center;
}

.lang-switch {
	font-weight: 200;
	display: inline-block;
	padding-top: 12px;
	text-decoration: none;
	color: black;
}

#en {
	font-weight: bold;
}
/*--/langswitch--*/

/*--home-text--*/
#home-text-container {
	position: absolute;
	z-index: 10;
	width: 60%;
	height: 240px;
	margin-top: 120px;
	margin-left: 20%;
	background-color: white;
	opacity: 0.6;
	text-align: center;
}

#home-text {
	margin-top: 30px;
}
/*--/home-text--*/

/*--home--*/
#home {
	width: 100%;
	height: 100%;
}

#homebackground {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#homeback {
	width: 100%;
}
/*--/home--*/
